<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- encoders are assigned the type         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- Silence verbose Atmosphere logging. additivity=false means "don't propagate up" -->
    <logger name="org.apache.wicket.atmosphere.AtmosphereBehavior" additivity="false">
    </logger>
</configuration>