table th.resizing {
    cursor: col-resize;
}

.nobottom {
    margin-bottom: 5px;
}

.horizon {
    background-color: #0ff;
    position: absolute;
    top: 50%;
    /*left: 0px;*/
    /*width: 100%;*/
    /*height: 1px;*/
    overflow: visible;
    visibility: visible;
    display: block
}

.content {
    font-family: Verdana, Geneva, Arial, sans-serif;
    /*background-color: #f00;*/
    /*margin-left: -125px;*/
    position: absolute;
    top: -150px;
    left: 50%;
    /*width: 250px;*/
    height: 300px;
    visibility: visible
}
.passwordinput {
    font-family: sans-serif;
}
